.bg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: grey;
    background-image: url('../../res/images/Background/mountain-bike.jpg');
    background-size: cover;
}