.experience {
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: teal;
}

.name{
    display: block;
    height:auto;
    width: 100%;
}

.dimensions {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 25%;
    background-color: pink;
    border: 1px solid red;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
.overdime {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dimensions:hover .overlay {
    opacity: 1;
}